<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Cart</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">
        <div class="myCart">
            <h1>You are hiring :</h1>
            <% for(let i=0;i<data.length;i++) { %>
            <div class="profile">
                <img class="pp" src="<%=data[i].pp %>"">
                <h3><%=data[i].name %></h3>
                <h2><%=data[i].price %></h2>
            </div>
            <% } %>
            <h1>Total payment agreed upon : $60/hr </h1>
        

            
            <button class="buttons" type="button">Cancel</button>
            <button class="buttons" type="button">Confirm</button>
        


        </div>
    </div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>