<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Developer</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain"> 
        
        <i class="chillti">Browse through our developers and find the right ones for your needs.</i>
        <a href="/newdev"><button class="buttons" type="button"><i class="fas fa-laptop"></i> Create your Developer Profile</button></a>
        <a href="/cart"><button class="buttons" type="button"><i class="fas fa-shopping-cart"></i> Go to cart section</button></a>
        <div id="devlist">
        <% for(let i=0;i<data.length;i++) { %>
        <div class="profile">
            <div id="ppcontainer">
          <img class="pp" id="devPic<%=data[i].id %>" src="<%=data[i].picture %>">
            </div>
        <h3 class="name" id="devName<%=data[i].id %>"> <%=data[i].name %> </h3>
        <p id="desc"> <%=data[i].description %></p>
        <div id="profileactions">
            <a href="devProfile/<%=data[i].id %>"><button class="buttons" type="button"><i class="fas fa-user"></i> Profile</button></a>
            <button class="buttons" id="devAdd" type="button" value="<%=data[i].id %>"><i class="fas fa-user-check"></i> Add to cart </button>
        </div>
            
        </div>
        <% } %>
        
       
        </div>
        
        

    </div>
    <br></br>
    <br></br>
    <%- include('./partials/Cart') %>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>