<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Editing Profile</title>
    <link rel="icon" href="/img/TinyLogo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">
        <% if (locals.errors) { 
            errors.forEach(error => { %>
            <p class="errors"><i class="fal fa-times-hexagon"></i> 

                <%= error.msg %></p>
        <%    })
         } %>
    <% if(locals.user) { %>
    <form class="form" action="/user/editProfile/<%=userToEdit.id %>?_method=PUT" method="POST">
        <h1 id="regtitle">Edit profile:</h1>
      <div class="profilecont1">      
        <label for="name">Email <i class="fas fa-envelope"></i></label>
        
            <input class="input" type="email" name="email" value="<%=user.email %>"></input>
      </div>
      <div class="profilecont1">
          <label for="pass">Password <i class="fas fa-user-shield"></i></label>
          
          <input class="input" type="text" name="password" value="******"></input>
      </div>
      <div class="profilecont1">
      <label for="desc">Phone number <i class="fas fa-phone-alt"></i></label>
          <br></br>
          <input class="input" type="text" name="phone" value="******"></input>
      
      </div>
      

      <input class="buttons" type="submit" value="Update"></input>


    </form>
    <% }else{ %>
        <p class="errors"><i class="fal fa-times-hexagon"></i> 

            You are not logged in!</p>
        <% } %>
    </div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>


</html>