<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Home</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">

        <div class="profile">
          <h3>Welcome, <%=user.username %>.</h3>
        <p> Your email is : <%=user.email %> </p>
            
            
            <a href="/user/editProfile/<%=user.id%>"><button class="buttons" type="button"><i class="fas fa-user-check"></i> Change email or password </button></a>
        </div>
        <p>Your active connections:</p>
            <% for(let i=0;i<projects.length;i++) { %>
                <div class="projects">
                    



                    
                </div>
                <% } %>

        
        </div>
    
    

</body>
<br></br>
<br></br>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>