<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Your Profile</title>
    <link rel="icon" href="/img/TinyLogo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">

        <div class="profile">
          <h3>Welcome, <%=user.username %>.</h3>
          <h2 class = "chill">Contact Information</h2>
        <li class="chill"><strong>E-mail <i class="fal fa-envelope"></i></strong>  <%=user.email %></li>
        <li class="chill"><strong>Phone number <i class="far fa-phone-alt"></i></strong>   <%=user.phone %></li>
        <li class="chill"><strong>Nationality <i class="fas fa-globe-americas"></i></strong>   <%=user.nationality %></li>
         </ul> 
         
         <a href="/newdev"><button class="buttons" type="button"><i class="fas fa-laptop"></i> Create Developer Profile</button></a>
            <a href="/user/editProfile/<%=user.id%>"><button class="buttons" type="button"><i class="far fa-cog"></i> Change contact info </button></a>
        
        </div>
        
        <% if(data.length > 0){  %>
        <p id="connects">Your active connections:</p>
        
        <div id="devlist">
           
            <% for(let i=0;i<data.length;i++) { %>
                <div class="profile">
                    <h3 class="name"><%= data[i].devs.name %></h3>
                    

                    <div id='ppcontainer'>
                    <img class='pp' src="<%= data[i].devs.picture %>"></img>
                    </div>
                    <div id="profileactions">
                        <a href="endConnection/<%=data[i].id %>"><button class="buttons" type="button"><i class="fal fa-send-back"></i> Finish connection</button></a>
                    </div>



                    
                </div>
                <% }} %>

        
        </div>
    
    </div>

</body>
<br></br>
<br></br>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>